body {
    margin: 0;
}

.styleForMenuElements {
    display: flex;
    gap: 110px;
    justify-content: center;
    background-color: #2C3E50;
}

.styleForMenuElements a {
    color: white;
    text-decoration: none;
    font-family: system-ui;
}
